<div>
	<form>
		<input
			id="date-picker-input"
			type="text"
			class="form-input"
			value={@date}
			placeholder="Pick a date"
			phx-hook="DatePicker"
		/>
	</form>

	<%= if @date do %>
	<p class="mt-6 text-xl">See you on <%= @date %>!</p>
	<% end %>
</div>
